* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  background-color: #243447;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: sans-serif;
  /* font-size: 1.5rem; */
  border-bottom: 3px solid red;
}

nav h1 {
  color: white;
  padding: 15px;
  font-size: 1.3rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.link {
  padding: 20px;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.sign-div {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.sign-card {
  border: 2px solid black;
  background-color: lightgrey;
  width: 40%;
  margin: 40px auto;
  text-align: center;
  /* height: 350px ; */
  white-space: pre-wrap;
}

.sign-card h1 {
  color: rgb(30, 31, 32);
  padding: 20px;
  font-size: 1.6rem;
  font-family: sans-serif;
  word-wrap: break-word;
}

.sign-card p {
  padding: 10px;
  font-size: 1rem;
  font-family: sans-serif;
  word-wrap: break-word;
}

.sign-card h3 {
  font-family: sans-serif;
  text-decoration: underline;
  padding: 5px;
}

/* home page */

.home-page h1 {
  font-size: 1.6rem;
  font-family: sans-serif;
}

.home-page {
  width: 75%;
  margin: 60px auto;
  text-align: center;
}

.home-page button {
  width: 100px;
  margin: 30px;
  padding: 10px;
  background-color: #243447;
  border: 2px solid red;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.home-page button:hover {
  background-color: red;
  color: #243447;
  border: 2px solid #243447;
}

@media (max-width: 600px) {
  .sign-div {
    flex-direction: column;
    margin: 20px auto;
  }
  .sign-card {
    width: 95%;
    margin: 15px auto;
  }
}
